doctype html
html
  head
    title Rumi Dance Academy
    block scripts
    block style 
     
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/n3.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        | copyright © 2022 RumiDanceAcademy.com | All rights reserved

    