@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    text-align: center;
    margin: 12px 0;
}

.container{
  min-height: 50vh;
  margin: 43px 0;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
}
.container h1{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 34px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    /* width: 100%;  */
}

.myInput{
  width: 40%;
  padding: 9px; 
  margin: 8px;
  font-size: 16px;
  border: 2px soild rgb(44, 44, 44);
  border-radius: 12px;
  outline: none;
}
.btn{
   padding: 8px 16px;
   font-size: 18px;
   border: 2px soild red;
   border-radius: 10px;
   color: white;
   background: black;
   cursor: pointer;
   font-family: 'Qwitcher Grypen', cursive;
   outline: none;
   margin: 26px;
}